<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="dossier">
            <h2><span jhiTranslate="tetApp.dossier.detail.title">Dossier</span> {{dossier.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="tetApp.dossier.nom">Nom</span></dt>
                <dd>
                    <span>{{dossier.nom}}</span>
                </dd>
                <dt><span jhiTranslate="tetApp.dossier.client">Client</span></dt>
                <dd>
                    <span *ngFor="let client of dossier.clients; let last = last">
                        <a [routerLink]="['/client', client?.id, 'view' ]">{{client.nom}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/dossier', dossier.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
